@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}


body {
  color: white;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;

}

.imgbg {
  background: linear-gradient(rgba(0,0,0,0.5), #17153B 110%), url("https://wallpaperaccess.com/full/156588.jpg") no-repeat center center;
  background-size: cover;
}

.imgbg1 {
  background: linear-gradient(90deg, rgba(0,0,0,0.5), #08050f 70%), url("https://canto-wp-media.s3.amazonaws.com/app/uploads/2019/07/19194417/insert-image-html.jpg") no-repeat center center;
  background-size: cover;
}
.blurBg {
  background: rgba(59, 45, 78, 0.3);
  backdrop-filter: blur(0.5px);
}

.blurBg1 {
  background: rgba(116, 116, 116, 0.3);
  backdrop-filter: blur(50px);
}

.colorBg {
  background: #17153B;
}

.iii {
  background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.9) 0%), url("https://png.pngtree.com/thumb_back/fh260/background/20230622/pngtree-starry-night-landscape-3d-wallpaper-of-dark-mountains-trees-and-moon-image_3655812.jpg") no-repeat center center;
  background-size: cover;
}

.hover {
  position: relative;
  display: inline-block;
}

.hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fbbf24;
  transition: width 0.3s ease;
}

.hover:hover::after {
  width: 45%;
}

.hover:hover {
  color: #fbbf24;
}